.vscode
*/**/.vscode
*/**/node_modules
*/**/myvenv
*/**/__pycache__/
*/**/.mypy_cache
*/**/rust/**/target
*.pdf

/asm/
/bits/python/
/interp/bytecode/
/interp/expr_let_interpreter/*
/learning

*/**/scala/target
learning2/scala/*/target
